@font-face {
    font-family: a;
    src: url(./assets/fonts/jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./assets/fonts/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./assets/fonts/KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

html, body{
    height: 100%;
    width: 100%;
}


#main{
    width: 100vw;
    position: relative;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}
#page1>video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    /* z-index: -1; */
}

#page1>nav{
    height: 13vh;
    width: 100%;
    padding: 0px 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    position: absolute;
}

nav img{
    width: 5.3%;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.buttons button{
    padding: 0.5vw 1.4vw;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
    font-family: a;
    font-size: 1vw;
    background-color: transparent;
    /* width: 7vw; */
}

.buttons button span{
    height: 3px;
    width: 10px;
    background-color: #fff;
}


.big-bottom{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: #fff;
}
.big-bottom h1{
    font-size: 6.3vw;
    font-weight: 100;
    font-family: a;
    line-height: 1;
    letter-spacing: 1px;
}

.big-bottom-inside{
    display: flex;
    align-items: end;
    gap: 1vw;
    margin-top: 4.5vw;
    /* padding: 3vw 0; */
}
.big-bottom-inside p{
    width: 40%;
    font-size: 1.3vw;
    font-family: a;
}
.big-bottom-inside button{
    padding: 1vw 3.2vw;
    border-radius: 50px;
    border: none;
    font-family: a;
    letter-spacing: 1px;
    color: rgb(0, 89, 255);
}

#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: #0a3cce;
    font-family: a;
    color: #fff
}

#page2 h3{
    font-size: 1.2vw;
    margin-bottom: 2vw;
    margin-left: 9vw;
    margin-top: -7vw;
}
#page2 h1{
    margin-left: 9vw;
    font-size: 4vw;
    font-weight: 100;
    width: 89%;
    line-height: 1.2;
    color:rgb(163, 161, 161);
    /* letter-spacing: 1px; */
}
#page3{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
}

#page3 canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
